<div class="row">
	<div class="col-md-6">
		<a href="/spaces/mine">My spaces</a>
	</div>
	<div class="col-md-6">
		<a href="/spaces/new">create a new space</a>
	</div>
</div>

<div class="row">
	<h2>Spaces to rent</h2>
		<div class='list-group'>
			<% @spaces.each do |space| %>
				<a href='/spaces/all/<%= space.id %>' class='list-group-item'>
					<h4 class='list-group-item-heading'><%= space.title %></h4>
					<p class='list-group-item-text'>- <%= space.description %></p>
					<p class ='list-group-item-text'><%= space.location %></p>
				</a>
			<% end %>
		</div>
</div>
