<h1>Set available date</h1>

<form action='/spaces/mine/<%= @space.id %>/available_date', method='post'>
	Choose a starting date <input type="date" name="available_date_start" required>
	Choose a finishing date <input type="date" name="available_date_finish" required>
	<input type="submit" value="Submit">
</form>

<h1>Current available dates</h1>
<% @space.available_dates.each do |available_date| %>
	<div class ='space'>
		<P class ='date'><%= available_date.date.strftime("%d-%b-%Y") %></p>
	</div>
<% end %>
