<h1>Set available date</h1>

<form action='/users/available_date/<%= @space.id %>', method='post'>
	Choose a Date <input type="date" name="available_date">
	<input type="submit" value="Submit">
</form>