<!DOCTYPE html>

<html>

	<head>
		<title>Makers AirBnB</title>
	</head>

	<body>

		<%= partial :flash %>
		<%= partial :navbar %>

		<div class="container">
			<%= yield %>
		</div>
		<script src='/jquery.js'></script>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="/custom.css">

	</body>
</html>