<!DOCTYPE html>

<html>

<head>
	<title>Makers AirBnB</title>
</head>

<body>


	<%= partial :navbar %>
	<%= partial :flash %>

	<div class="container">
		<div class="row">
			<div class='col-md-12'>
				<% if current_user %>
				<span class="pull-right">Hello, <%= current_user.name %>
				</br>
				<form class="navbar-brand pull-right" id="signout" action="/sessions" method="post">
					<input type="hidden" name="_method" value="delete">
					<button type="submit" class="btn btn-sm">Sign out</button>
				</form></span>

				<% end %>
			</div>
		</div>

		<%= yield %>
	</div>
	<script src='/jquery.js'></script>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/custom.css">

	<script src="/zabuto_calendar.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/zabuto_calendar.min.css">

	<script src='/calendar.js'></script>

</body>
</html>
